.account-title {
    text-align: center;
}

.encasing-account-menu > * {

    margin: 10px auto;
    text-align: center;
    border: 1px solid #000;
    width: 30%;
}

.view-accts-div:hover, 
.view-mini-statement:hover, 
.view-statement-date:hover,
.withdrawal-deposit:hover,
.transfer:hover {
    background-color: grey;
    cursor: pointer;
}