.account-title {
    text-align: center;
}

.encasing-account-menu > * {

    margin: 10px auto;
    text-align: center;
    
    width: 30%;
}

.view-accts-div,
.view-mini-statement,
.view-statement-date,
.withdrawal-deposit,
.transfer {
    border: 1px solid #000;
}

.view-accts-div:hover, 
.view-mini-statement:hover, 
.view-statement-date:hover,
.withdrawal-deposit:hover,
.transfer:hover {
    background-color: grey;
    cursor: pointer;
}

.withdraw-deposit {
    display: flex;
    flex-direction: column;
}

.transaction-number {
    position: relative;
    left: 33%;
}

.transaction-amount {
    position: relative;
    left: 33%;
}

.withdraw-deposit-submit {
    position: relative;
    transform: translate(400px, 0%);
}